hookImageServer:
  enabled: true
  hostDirectory: "/opt/hook"
  #nodeSelector: {}

nodePort:
  hookImageServer:
    enabled: true
    port: 32083

#### SHOWCASE. Needs to know coordinates to where Hegel / Smee (syslog, etc) and HookOS vmlinux and OS images are.
showcase:
  enabled: true
  workflows:
    enabled: true # false to completely skip generating Tinkerbell Workflow CRs; Hardware and Templates are still generated
  jobs:
    enabled: true  # false to completely skip generating jobs
    hooks:
      enabled: true # again true, as we can do l3 provisioning as long as we don't do DHCP # before: cos we are doing L3 provisioning, hooks are already in the bootable media


#### Tinkerbell (-ng) subChart.
tinkerbell:
  enabled: true
  optional:
    hookos:
      enabled: false # suite does its own nginx
    migration:
      enabled: false # no migration here
    kubevip:
      enabled: false # suite does not use Smee at all, much less kubevip
  deployment:
    daemonSet:
      enabled: true # if true, it becomes actually a DaemonSet, not Deployment
    hostNetwork: true # deploy on the host network
    envs:
      globals:
        enableRufioController: false # do not deploy Rufio  (BMC controller)
        enableSecondstar: false # do not deploy Secondstar (Serial over SSH)
        enableSmee: true # Enable Smee, but notice how smee.dhcpEnabled is false
      smee:
        dhcpEnabled: false # DO NOT enable DHCP -- this l3-only -- we need Smee only for TFTP/HTTP serving
      tootles:
        bindPort: 50061 # Tootles (Hegel) HTTP port; defaults to 7172 but I've grown fond of 50061
    init: # Not deploying Smee, so init not required
      enabled: false
  service:
    type: ClusterIP # we're already in hostNetwork mode
    #lbClass: "io.cilium/node" # Use Cilium's Node LB


    ports:
      httpTootles:
        port: 50061 # Tootles (Hegel) HTTP port; defaults to 7172 but I've grown fond of 50061